{% extends "base.html" %} {% block content %}

<h2>Подать заявку</h2>
<div>
  <button type="submit" class="btn">Отправить заявку</button>
</div>
<style>
  body {
    padding-top: 200px;
  }
  body {
    background-color: bisque;
  }

  h2 {
    text-align: center;
    font-size: 50px;
  }
  .text {
    text-align: center;
    line-height: 0.5px;
    font-size: 19px;
  }
  .btn {
    margin: 60px 15px 15px 490px;
    background-color: rgb(44, 44, 228);
    
  }
</style>
{% endblock %}
